@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
.name-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  width: 100%;
  align-items: center;
  font-weight: bold;
}
.name-wrapper.header {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  font-family: "Dancing Script", cursive !important;
}
.name-wrapper img{
  width: 100%;
  object-fit: cover;
}
