/* app.css */

.dropdown {
  width: 100%;
  position: relative;
}

.animestyel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropbtn {
  font-size: 16px;
  text-align: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: flex;
  width: max-content;
  min-width: 180px;
  gap: 10px;
}

.dropdown-content .animelist {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
}

.animelist .heading,
.dropdown-head {
  text-decoration: underline;
  color: rgb(226, 88, 88);
  font-weight: bold;
  text-align: center;
}

/* Headings and list styles */
.dropdown-list {
  color: black;
  text-align: left;
}

.dropdown-list li {
  list-style: none;
  font-size: 14px;
  padding: 5px 0;
}

li:hover {
  list-style: square;
  color: rgb(226, 88, 88);
  font-weight: bold;
  cursor: pointer;
}

.heading {
  font-weight: bold;
  color: rgb(232, 95, 95);
  font-size: 18px;
}

/* Responsive adjustments for tablet screens */
@media (max-width: 768px) {
  .dropdown-content {
    width: 100%;
    padding: 10px;
    background-color: none;
    box-shadow: none;
  }

  .dropdown:hover .dropdown-content {
    position: relative;
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dropbtn {
    font-size: 14px;
  }

  .dropdown-content .animelist {
    gap: 5px;
  }

  .dropdown-head,
  .animelist .heading {
    font-size: 15px;
  }
  .dropdown-list {
    text-align: center;
    color: black;
  }
}

/* Responsive adjustments for mobile screens */
@media (max-width: 480px) {
  .dropdown-content {
    padding: 5px;
    gap: 5px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .dropdown-content .dropdown-list,
  .animelist {
    flex-direction: column;
    gap: 5px;
  }

  .animenamelist {
    font-size: 13px;
  }

  .dropdown-list li {
    padding: 4px 0;
  }

  .dropdown-head {
    font-size: 14px;
  }

  .heading {
    font-size: 16px;
  }
}
