.infop img{
    height: 60px;
    border-radius: 50%;
}
.information-container{
    width :700px;
    height: auto;
}
.infop{
    display: flex;
    width: 400px;
    gap: 10px;
    padding: 10px;
}
.infodetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    padding: 5px;
}
.infodetails .pname{
    font-family: Poppins;
    font-weight: normal;
}
.infodetails .red{
    font-family: Poppins;
    font-weight: normal;
    cursor: pointer;
    color: rgb(240, 95, 95);
}
.infoheader{
    font-family: Poppins;
    font-weight: normal;
}
.conatct{
    padding-left: 20px;
}
.shipping{
    margin-top: 25px;
    padding-left:20px;
}