@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

.wrapper{
    width: 500px;
    height: auto;
    padding: 30px 30px;
    border-radius: 30px;
    background-color: floralwhite;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-wrapper h2{
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive !important;
}
.lregister{
    font-size: 18px;
    font-family: "Dancing Script", cursive !important;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.lregister span{
    font-weight: normal;
}
.lregister .loginregister{
    cursor: pointer;
    color: rgb(230, 67, 67);
    border-bottom: 1px solid rgb(230, 67, 67);
}