.wrapper{
    width: 500px;
    height: auto;
    border-radius: 30px;
    background-color: floralwhite;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remeber .text{
    color: black !important;
    font-family: Poppins;
    border-bottom: none;
}
.remember-me{
    display: flex;
    justify-content: space-between;
}
.lregister{
    font-size: 14px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.lregister span{
    font-weight: normal;
}
.lregister .loginregister{
    cursor: pointer;
    color: rgb(230, 67, 67);
    border-bottom: 1px solid rgb(230, 67, 67);
}