.profile-container{
    padding-left: 100px;
}
.profilehead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pcenter{
    display: flex;
    padding-left: 40px;
    padding-top: 10px;
    justify-content: left;
    align-items: center;
}
.profilehead strong{
    color: rgb(244, 86, 86);
}