@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #f35555; /* Example primary color */
    --secondary-color: #f1a1a1; /* Example secondary color */
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Poppins; */
}